<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ptglove">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/michigan"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/michigan"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".CompletionScreen"
            android:screenOrientation="landscape" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CalibrateScreen"
            android:screenOrientation="landscape" />
        <activity
            android:name=".HandScreen"
            android:screenOrientation="landscape" />
        <service
            android:name = ".NotificationService"
            android:label = "@string/app_name" >
            <intent-filter>
                <action
                    android:name = "com.ptglove.NotificationService" />
                <category android:name= "android.intent.category.DEFAULT" />
            </intent-filter>
        </service>
    </application>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name = "android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />

</manifest>